.btn {
    font-size: 18px;
    border-radius: 8px;
    padding: 10px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn-maincolor {
    border: 2px solid var(--color-main);
}

.btn-maincolor:hover {
    background-color: var(--color-main);
    transition: ease-in-out 0.2s;
}

.circle-btn {
    font-size: 16px;
    border-radius: 50%;
}

.btn-fullBackground-main {
    background-color: var(--color-main);
}

.btn-fullBackground-main:hover {
    background-color: rgb(136,154,50);
}

.btn-fullBackground-red {
    background-color: rgb(248,34,61);
}

.btn-fullBackground-red:hover {
    background-color: rgb(193,27,48);
}

.btn-fukkBackground-darkGray {
    background-color: rgb(169,169,169);
}

.carousel-btn {
    display: inline-block;
    text-align: center;
    font-size: 20px;
    height: 30px;
    width: 30px;
    background-color: var(--color-main);
}

.post-btn-circle {
    height: 44px;
    width: 44px;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: rgb(248,34,61);
    color: #fff;
    font-size: 20px;
}

.post-btn-circle:hover {
    background-color: #fff;
    border: 2px solid rgb(248,34,61);
    color: rgb(248,34,61);
}

.btn-follow {
    border-radius: 25px;
}