.btn {
    font-size: 18px;
    border-radius: 8px;
    padding: 10px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn-maincolor {
    border: 2px solid var(--color-main);
}

.btn-maincolor:hover {
    background-color: var(--color-main);
    transition: ease-in-out 0.2s;
}

.circle-btn {
    font-size: 16px;
    border-radius: 50%;
}

.btn-fullBackground-main {
    background-color: var(--color-main);
}

.btn-fullBackground-main:hover {
    background-color: rgb(136,154,50);
}

.btn-fullBackground-red {
    background-color: rgb(248,34,61);
}

.btn-fullBackground-red:hover {
    background-color: rgb(193,27,48);
}