.body__carousel-item {
    position: relative;
    background-image: url('/template/source/images/banner.png');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 500px;
    /* z-index: 0; */
}

.carousel-item-centerbtn {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}