.container-body{
    max-width: 1200px;
    /* background-color: #fff; */
    margin: 135px auto auto auto;
    /* height: 10000px; */
}

.body-content {
    padding-top: 60px;
    text-align: center;
    background-color: #fff;
}

.body__category,
.body__news{
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
}

.body__category-header,
.body__news-header,
.header-content {
    display: inline-flex;
    color: var(--color-main);
    position: relative;
    align-items: center;
}

.category-header-text,
.news-header-text {
    margin-left: 10px;
    margin-bottom: 5px;
}

.category-header-text::after,
.news-header-text::after,
.header-content::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: var(--color-main);
    position: absolute;
    top: 90%;
    left: 0;
    transition: all 500ms ease;
}

.category-header-text:hover::after,
.news-header-text:hover::after,
.header-content:hover::after {
    /* left: 100%; */
    left: 0%;
    width: 100%;
}

.header-content {
    display: inline-block;
    margin: 0 auto 0 auto;
}