.form-input {
    background-color: var(--color-fourth);
    display: inline-block;
    font-size: 20px;
    border-radius: 8px;
    padding: 5px;
    box-sizing: border-box;
}

.input-field {
    text-align: start;
}

.input-field > table > tbody > tr > td {
    min-width: 220px;
}

.form-input-field {
    font-size: 20px;
    height: 40px;
    padding-left: 5px;
    border: none;
    outline: none;
    margin-bottom: 10px;
    border-radius: 8px;
}

.form-input-field:focus{
    border: 2px solid var(--color-main);
}

#form-change-password {
    display: none;
}