header {
    background-color: var(--color-main);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.header {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
}

.header__left-logo>img {
    height: 100px;
    width: 130px;
}

.header__middle {
    position: relative;
    width: 100%;
    text-align: center;
}

.header__middle-category {
    position: absolute;
    height: 100%;
    width: 25%;
    border-radius: 25px 0 0 25px;
    background-color: #fff;
    border: none;
    border-right: 1px solid var(--color-main);
    color: var(--color-main);
    z-index: 1;
    left: 2.5%;
}

.header_middle-searchbox {
    position: relative;
    width: 95%;
    margin: auto;
}

.header_middle-searchbox button {
    position: absolute;
    border: none;
    font-size: 25px;
    background-color: transparent;
    right: 0;
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.header_middle-searchbox button:hover{
    background-color: #fff;
}

.middle-searchbox-input {
    outline: none;
    border: none;
    padding-left: 27%;
    height: 45px;
    width: 100%;
    border-radius: 25px;
}

.header__right {
    display: flex;
    min-width: 200px;
}

.header__right-cart {
    position: relative;
    font-size: 30px;
}

.header__right-cart {
    margin-right: 20px;
}

.header__right-cart:hover {
    cursor: pointer;
}

.right-cart-count {
    position: absolute;
    background-color: red;
    height: 20px;
    width: 20px;
    font-size: 15px;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    right: -10px;
}

.header__right-user {
    position: relative;
    display: flex;
    width: 100%;
    font-size: 30px;
}

.header__right-user:hover {
    /* cursor: pointer; */
}

.right-user-login {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 700;
    margin: auto auto auto 5px;
    width: 115px;
}

.user__panel {
    position: absolute;
    opacity: 0;
    background-color: var(--color-third);
    border-radius: 8px;
    font-size: 16px;
    top: 100%;
    width: 100%;
    text-align: center;
}

.user__panel:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    z-index: 1;
    top: -7px;
    right: calc(4em + (7px/2));
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid var(--color-third);
}

.header__right-user:hover .user__panel {
    opacity: 1;
    transition: ease-in-out 0.2s;
}

.user__panel-username {
    font-weight: 600;
}

.user__panel-item {
    font-size: 14px;
    border-bottom: 1px solid var(--color-main);
    padding: 5px 0;
}

.user__panel-item:last-child {
    border-bottom: none;
}

.user__panel-item:hover {
    font-weight: 700;
    color: var(--color-main);
    cursor: pointer;
}

.user__panel-item:first-child:hover {
    font-weight: 600;
    color: black;
    cursor: text;
}

.right-user-logout {
    margin-left: 10px;
}

.right-user-logout span {
    display: block;
    font-size: 14px;
}

.right-user-logout span:hover {
    font-weight: 700;
}

.log-user span {
    display: inline-block;
}

.navbar {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 145px auto;
    max-width: 800px;
    padding: 0;
}

.navbar__item {
    position: relative;
    display: inline-block;
    padding: 0;
}

.navbar__item:hover {
    border-bottom: 2px solid var(--color-main);
}

.navbar__item-link {
    display: flex;
    align-items: center;
    background-color: var(--color-fourth);
}

.navbar ul li:first-child .navbar__item-link,
.navbar__item:first-child {
    border-radius: 25px 0 0 25px;
}

.navbar ul li:last-child .navbar__item-link,
.navbar__item:last-child {
    border-radius: 0 25px 25px 0;
}

.navbar__item-link:hover {
    color: var(--color-main);
    font-weight: 500;
}

.navbar__item-link p {
    display: inline-block;
    padding: 10px 5px 10px 10px;
    margin: auto;
}

.navbar__item-dropdown {
    position: absolute;
    display: none;
    background-color: var(--color-fourth);
    top: 105%;
    width: 100%;
    border-radius: 5px;
}

.navbar__item:hover .navbar__item-dropdown {
    display: block;
}

/* .navbar__item-dropdown:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    z-index: 1;
    top: -7px;
    right: calc(50% - (7px / 2));
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid var(--color-fourth);
} */

.drop-item {
    display: block;
    width: 100%;
}

.drop-item a {
    display: block;
    padding: 5px;
}

.drop-item a:hover {
    background-color: var(--color-secondary);
    font-weight: 500;
}